body {
    transition: background-color 0.5s ease;
}

.white {
    background-color: white;
    color: gray;
}

.gray {
    background-color: gray;
    color: white;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.main-carousel {
    box-sizing: content-box;
    padding: 2rem;
    margin: 3rem;
    width: 60%;
    height: auto;
    border: solid 0.5rem rgb(138, 236, 138);    
}

.title {
    box-sizing: content-box;
    width: 70%;
    margin-bottom: 2rem;
}

.plain-text {
    box-sizing: content-box;
    width: 70%;
    margin: 0 2rem 1rem;
}

.on {
    display: inline;
}

.off {
    display:none;
}